.book {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px groove #ccc;
    border-radius: 1rem;
    margin: 1rem;
    gap: 1rem;
    width: min(100%, 500px);
}

.book button {
    color: whitesmoke;
    padding: .5rem 1rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background-color: #3f51b5;
    font-size: 1.5rem;
}

.book button:hover {
    color: #3f51b5;
    background-color: #f0f0f0;
}
