/* header should be a single row at the top */
/* the title is large text at the left side while the links are grouped together on the right side */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background-color: #f0f0f0;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.links > * {
  text-decoration: none;
  color: #000;
  font-style: italic;
  font-family: "Roboto", sans-serif;
}

.links > *:hover {
  color: #f00;
}

button {
  cursor: pointer;
  border: none;
  text-decoration: none;
}
