.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.title {
    font-size: 2rem;
    color: #3f51b5;
    font-weight: bold;
    margin-bottom: 1rem;
}

.searchField {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.searchField input {
    padding: 1rem;
    border: 3px solid #3f51b5;
    border-radius: 2rem;
    width: 500px;
    transform: translateX(40px);
}

.searchField button {
    transform: translateX(-50px);
    background: none;
    border: none;
    font-size: 3rem;
}

.searchField button:hover {
    opacity: .8;
}

.empty {
    font-size: 1.5rem;
}

.data {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 1rem;
}

.buttons {
    border-top: 3px solid black;
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
    font-size: 1.5rem;
}

.buttons button {
    border: 1px solid #3f51b5;
    padding: .8rem;
    border-radius: 5px;
    background-color: #3f51b5;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #fff;
    color: #3f51b5;
}